@import "../variables"

.cd-button
  box-sizing: border-box
  padding: $cd-spacing-xs $cd-spacing-s
  border: none
  line-height: 1rem
  background-color: $cd-accent-color
  color: $cd-accent-color-contrast
  &.cd-button--rounded
    border-radius: $cd-spacing-xs

