@import "../variables"

.cd-button
  box-sizing: border-box
  padding: $cd-spacing-s + $cd-spacing-xs $cd-spacing-l
  border: none
  line-height: $cd-spacing-m
  font-size: $cd-font-size-m
  background-color: $cd-accent-color
  color: $cd-accent-color-contrast

  &.cd-button--rounded
    border-radius: $cd-border-radius
