@import "../variables"

.cd-form-group
  display: flex
  align-items: center
  width: 600px
  height: $cd-spacing-l + $cd-spacing-s
  margin: auto

  .cd-input
    border-bottom-right-radius: 0
    border-top-right-radius: 0
    flex: 1 1 200px

  .cd-button
    border-bottom-left-radius: 0
    border-top-left-radius: 0
    flex: 0 0 auto
