// Colors
$cd-accent-color: #2196f3
$cd-accent-color-contrast: #fff
$cd-grey: #607d8b

// Spacing
$cd-spacing-xxs: 0.125rem
$cd-spacing-xs: 0.25rem
$cd-spacing-s: 0.5rem
$cd-spacing-m: 1rem
$cd-spacing-l: 2rem
$cd-spacing-xl: 4rem

